*-blx.bib
docs/_build
*.rst~
*.py~
build/
dist/
*.egg-info/
*.DS_Store
*.auxlock
*.snm
*.vrb
*.nav
*.sty.tex
*.lox
*.upa
*.upb
/Archive
*.xoj
*.lox
*.bib.bak
*.swp
/Python/.settings
/Python/build
/Python/sat.whl
/Python/Sparse_Approximation_Toolbox.egg-info
*.synctex.gz
*.log
*.pdf
*.idx
*.aux
*.toc
*.project
*.pydevproject
*/.idea
*.pyc
*.tex*1332
*.cpp
*.h
*.pdf
*.project
*.pydevproject
*/.idea
*.rst~
*.fuse*
*.bbl
*.blg
*.out
*.run.xml
/Python/examples/restats
*.DS_Store
