*-blx.bib
experiments/
/smolyak/experiments/*
/smolyak/experiments
restats
docs/_build
*.rst~
*.py~
build/
dist/
*.egg-info/
*.DS_Store
*.auxlock
*.snm
*.vrb
*.nav
*.sty.tex
*.lox
*.upa
*.upb
*.xoj
*.lox
*.bib.bak
*.swp
.settings
build
sat.whl
*.synctex.gz
*.log
*.pdf
*.idx
*.aux
*.toc
*.project
*.pydevproject
*/.idea
*.pyc
*.tex*1332
*.cpp
*.h
*.pdf
*.project
*.pydevproject
*/.idea
*.rst~
*.fuse*
*.bbl
*.blg
*.out
*.run.xml
*.DS_Store
